<template>
<div>
<div class="container" id="LoginForm">
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <center><img src="../assets/img/epayco.png" width="200px">
   <p>Ingrese su Correo Electrónico y Contraseña</p></center>
   </div>

<el-form :label-position="labelPosition" label-width="100px" :model="formLabelAlign">
  <el-form-item label="Correo Electrónico" class="Form"  >
    <el-input v-model="formLabelAlign.email" ></el-input>
  </el-form-item>
  <el-form-item label="Contraseña" class="Form" >
    <el-input v-model="formLabelAlign.password"></el-input>
  </el-form-item>

<a @click="login()"><el-button type="warning" style="width:100%;">Iniciar Sesión</el-button></a>
</el-form>

   
    </div>

</div></div>
</div>
</template>

<script>
export default {
  data() {
    return {
      labelPosition: "top",
      formLabelAlign: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    login() {
      console.log("este es el formLabelAlign", this.formLabelAlign);
      this.$axios
        .$post(`${process.env.API_URL}/user/login`, {
          email: this.formLabelAlign.email,
          password: this.formLabelAlign.password,
        })
        .then((response) => {
          console.log("esta es la repuesta del login", response.status);
          if (response.status === "ok") {
            this.$store.commit("user/mut_load_authorization", response);
            this.$router.push("/panel");
          }
        }).catch((err) => {
          this.$notify.error({
              title: "Error",
              message: "Usuario o contraseña invalida",
            });
        });
    },
  },
};
</script>

<style>
div #LoginForm {
  background-image: url("https://static.cdn.printful.com/blog/wp-content/uploads/2019/10/metodos-de-pago-online-1200x630-cropped.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px;
}

.Form {
  margin-top: -20px;
}
.form-heading {
  color: #fff;
  font-size: 23px;
}
.panel p {
  color: #777777;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
  opacity: 93%;
}
</style>
